.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(27, 27, 27);
  width: 40%;
  border-radius: 8px;
  padding: 30px 60px;
  & h2 {
    margin-bottom: 30px;
  }
}

.field {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1.7rem;
  & input {
    width: 100%;
    border: none;
    border-radius: 0.75rem;
    padding: 0 10px;
    height: 1.5rem;
    &:focus {
      outline: none;
    }
  }
  & label {
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
}

.actions input {
  cursor: pointer;
  background: transparent;
  color: white;
  text-decoration: none;
  padding: 0.2rem 0.4rem;
  border: 1px solid white;
  border-radius: 4px;
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 1.7rem;
}

.link-form {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 1rem;
}