.navbar {
  height: 87px;
  width: 100%;
  background-color: rgb(27, 27, 27);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.navbar-1 {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2rem;
}

.navbar-2 {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 2rem;
}

.hamburger {
  display: none;
  position: fixed;
  height: 87px;
  width: 100%;
  background-color: rgb(27, 27, 27);
  margin-bottom: 2rem;
}

.logo {
  font-family: "Playfair Display", serif;
  font-size: 2.2rem;
  font-weight: 600;
  color: white;
  text-decoration: none;
  margin-bottom: 8px;
}

.categories {
  text-decoration: none;
  color: white;
  font-weight: 100;
  font-size: 1rem;
  margin-left: 2rem;
  &:hover {
    color: rgb(69, 69, 69);
  }
}

.devise-btn {
  color: white;
  text-decoration: none;
  flex-shrink: 1;
  padding: 0.2rem 0.4rem;
  border: 1px solid white;
  border-radius: 4px;
  font-weight: 100;
  font-size: 1rem;
  margin-left: 2rem;
  transition: 0.3s ease-in;
  &:hover {
    color: rgb(69, 69, 69);
    border-color: rgb(69, 69, 69);
    transition: 0.3s ease-in;
  }
}

.active {
  color: rgb(69, 69, 69);
  cursor: initial;
}
