.search-container {
  height: 2.2rem;
  display: flex;
  background-color: rgb(69, 69, 69);
  border-radius: 1.1rem;
  transition: 0.3s ease-in;
}

.focused {
  box-shadow: 0px 0px 6px 2px white;
  transition: 0.3s ease-in;
}

.search-bar {
  color: rgb(147, 147, 147);
  background-color: transparent;
  border: none;
  padding-left: 12px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  &:focus {
    outline: none;
  }
}

.search-btn {
  border: none;
  background-color: transparent;
  color: rgb(147, 147, 147);
  padding-right: 12px;
  &:focus {
    outline: none;
  }
}
