/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }

 body {
   color: white;
   background-color: rgb(34, 34, 34);
   min-height: 100vh;
   font-family: Roboto, sans-serif;
 }

 @media screen and (min-width: 1400px) {
  .movie-view {
    width: 60%;
  }
  .lists-container-poster {
    width: 60%;
  }
  .movie-title {
    font-size: 4rem;
  }
  .synopsis {
    font-size: 1.2rem;
  }
  table {
    margin-top: 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .movie-view {
    width: 70%;
  }
  .lists-container-poster {
    width: 70%;
  }
  .movie-title {
    font-size: 3.2rem;
  }
  table {
    margin-top: 1rem;
  }
}

@media screen and (min-width: 1000px) {
  .navbar-1 {
    margin-left: 6rem;
  }
  .navbar-2 {
    margin-right: 6rem;
  }
}

@media screen and (min-width: 941px) {
  .movies-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 940px) {
  .movies-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .search-bar {
    width: 8.5rem;
  }
}

@media screen and (min-width: 811px) {
  .movie-poster {
    border-radius: 8px;
    margin-right: 1.5rem;
    width: 300px;
    height: 450px;
  }
  .close-list i {
    margin-top: 1.5rem;
    margin-left: 1.5rem;
  }
  .position-relative {
    margin-right: 1.2rem;
  }
  .poster-list-layer p {
    margin-top: 3.8rem;
  }
}

@media screen and (max-width: 810px) {
  .categories {
    margin-left: 1rem;
  }
  .devise-btn {
    margin-left: 1rem;
  }
  .lists-container-poster {
    display: flex;
    justify-content: center;
    top: 0;
  }
  .close-list {
    position: initial;
  }
  .movie-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .movie-profile-1 {
    flex-direction: column;
    max-height: none;
    align-items: center;
  }
  .movie-details-cast {
    max-height: none;
  }
  .movie-poster {
    margin-right: 0;
    margin-bottom: 1.2rem;
  }
  table {
    margin-top: 1.2rem;
  }
}

@media screen and (min-width: 731px) {
  #menuToggle {
    margin-left: 2rem;
    position: relative;
    top: 2px;
    right: initial;
  }
}

@media screen and (max-width: 730px) {
  .movies-container {
    grid-template-columns: 1fr 1fr;
    margin-top: 7rem;
  }
  .hamburger {
    display: initial;
    z-index: 2;
  }
  .navbar {
    display: none;
  }
  .search-container-r {
    position: absolute;
    top: 26px;
    left: 200px;
    width: 9rem;
    display: flex;
    justify-content: space-between;
  }
  .search-bar-r {
    width: 7rem;
  }
  .logo {
    position: absolute;
    top: 16px;
    left: 24px;
    padding: 0;
  }
  #menuToggle {
    top: 31px;
  }
  .form {
    width: 95%;
    margin-top: 7rem;
  }
  .field {
    width: 95%;
  }
  .container{
    min-height: calc(100vh - 5.5rem);
  }
  .movie-view {
    margin-top: 7.45rem;
  }
  .lists-container {
    margin-top: 7.45rem;
  }
}

@media screen and (min-width: 501px) {
  .poster-list-layer  {
    height: 450px;
    width: 300px;
  }
  .position-relative {
    height: 450px;
    width: 300px;
  }
  .movie-poster {
    width: 300px;
    height: 450px;
  }
}

@media screen and (max-width: 500px) {
  .movies-container {
    grid-template-columns: 1fr;
  }
  .movie-poster {
    object-fit: cover;
    max-width: 233px;
    max-height: 350px;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 435px) {
  .logo {
    font-size: 1.5rem;
    font-weight: 700;
    top: 25px;
  }
  .search-container-r {
    left: 150px;
    top: 25px;
    width: 6rem;
  }
  .search-bar-r {
    width: 4rem;
  }
  #menuToggle {
    top: 31px;
  }
}