// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 7.5rem - 87px);
}

.container-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 7.5rem - 87px);
  & h1 {
    font-family: "Playfair Display", serif;
    margin-bottom: 2rem;
  }
}

.movies-container {
  width: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px 20px;
}

.movie {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 200px;
  height: 300px;
  background-color: #b5b5b5;
  background-image: linear-gradient(315deg, #b5b5b5 0%, #252525 74%);
  border-radius: 8px;
  &:hover .movie-info {
    visibility: initial;
    transition: 0.5s ease-in-out;
  }
  &:hover img {
    opacity: 25%;
    transition: 0.3s ease-in;
    cursor: pointer;
  }
}

.movie img {
  object-fit: cover;
  max-width: 200px;
  max-height: 300px;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  opacity: 100%;
  transition: 0.4s ease-in-out;
}

.movie-info {
  visibility: hidden;
  position: absolute;
  transition: 0.3s ease-in-out;
}

.movie-info h2 {
  font-size: 1.2rem;
  font-weight: 400;
  padding: 8px;
}

.movie-info h3 {
  font-size: 1rem;
  font-weight: 300;
  padding-left: 8px;
  padding-top: 4px;
}

.movie-view {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.invisible {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

.hidden {
  visibility: hidden;
}

.poster-list-layer {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #b5b5b5c2;
  background-image: linear-gradient(315deg, #b5b5b5c2 0%, #2525259c 74%);
  border-radius: 8px;
  width: 233px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 8px;
  & ul {
    opacity: initial;
    margin-top: 2rem;
    list-style: none;
  }
  & p {
    margin-top: 1.2rem;
  }
}

.mylists-el {
  text-decoration: none;
  color: white;
  font-weight: 100;
  font-size: 1rem;
  &:hover {
    color: rgb(69, 69, 69);
  }
}

.add-to-list {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  font-size: 1.5rem;
  & i {
    margin-top: calc(1rem + 8px);
    margin-left: calc(1rem + 8px);
  }
}

.lists-hidden {
  visibility: hidden;
}

.close-list {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  font-size: 1.5rem;
  & i {
    margin-top: 1rem;
    margin-left: 1rem;
  }
}

.position-relative {
  position: relative;
  height: 350px;
  width: 233px;
  margin-bottom: 1.2rem;
}


.movie-profile {
  max-width: 100%;
}

.movie-profile-1 {
  width: 100%;
  max-height: 500px;
  display: flex;
  justify-content: flex-start;
}

.movie-poster {
  border-radius: 8px;
  margin-right: 1.5rem;
  object-fit: cover;
  max-width: 300px;
  max-height: 450px;
  width: 100%;
  height: 100%;
}

.movie-title {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.movie-release-date {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
}
.synopsis {
  font-weight: 100;
  font-size: 1rem;
  margin-bottom: 1.2rem;
}

.info-type {
  font-size: 1.2rem;
  font-weight: 400;
}

.info-content {
  font-size: 1rem;
  font-weight: 100;
}



table { 
  min-width: auto;
	max-width: 600px; 
  border-collapse: collapse;
  margin-top: 0.5rem;
}

tbody:nth-child(even) {
  background-color: #2f2f2f;
}

tr td:nth-child(1) {
  font-weight: 900;
}

th { 
	background: #393939; 
	color: white; 
	font-weight: bold; 
}

td, th { 
	padding: 10px; 
	border: 1px solid rgb(121, 121, 121); 
	text-align: left; 
	font-size: 18px;
}